.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96%;
    background-color: white;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 1%;
    width: 96%;
}

.wrapperForm {
    width: 50%;
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uploadImg {
    display: flex;
    width: 100px;
    height: 100px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: 1px dashed rgb(100, 99, 99);
    padding: 20px;
}

.label {
    display: flex;
    justify-content: center;
    color: rgb(87, 87, 87);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 100px;
    width: 100%;
}

.input {
    display: none;
}

.wrapperFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnUpload {
    width: 100px;
    height: 40px;
    background-color: rgb(93, 185, 113);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
        background-color: rgb(84, 168, 102);
    }
}

.wrapperBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.filename {
    display: flex;
    justify-content: center;
    color: rgb(100, 99, 99);
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}