<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="view">
      <div class="view-header">
        <div class="view-header_main">
          <p class="view-header_main_name">My Drive</p>
          <i class="fa-solid fa-sort-down"></i>
        </div>
        <div class="view-header_sider">
          <select class="view-header_sider_select">
            <option value="0">Type</option>
            <option value="1">Word</option>
            <option value="2">PDF</option>
            <option value="3">Excel</option>
            <option value="4">Img</option>
          </select>
          <select class="view-header_sider_select">
            <option value="0">Time</option>
            <option value="1">Today</option>
            <option value="2">Yesterday</option>
            <option value="3">7 days ago</option>
            <option value="4">This Month</option>
          </select>
        </div>
      </div>
      <div class="view-body">
        <p class="view-body_suggestion">Your Suggestion</p>
        <div class="view-body_content">
          <div class="view-body_content_main">
            <p class="view-body_content_main_name">Thái Văn Thiện</p>
            <img
              src="../../assets/img-excel.png"
              alt=""
              class="view-body_content_main_img"
            />
          </div>
          <div class="view-body_content_main">
            <p class="view-body_content_main_name">Thái Văn Thiện</p>
            <img
              src="../../assets/img-pdf.png"
              alt=""
              class="view-body_content_main_img"
            />
          </div>
          <div class="view-body_content_main">
            <p class="view-body_content_main_name">Thái Văn Thiện</p>
            <img
              src="../../assets/img-word.png"
              alt=""
              class="view-body_content_main_img"
            />
          </div>
          <div class="view-body_content_main">
            <p class="view-body_content_main_name">Thái Văn Thiện</p>
            <img
              src="../../assets/img-excel.png"
              alt=""
              class="view-body_content_main_img"
            />
          </div>
        </div>
        <div class="view-body_folder">
          <p class="view-body_folder_name">Folder</p>
          <div class="view-body_folder_main">
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="view-body_folder_main_content">
              <i class="fa-solid fa-folder"></i>
              <p class="view-body_folder_main_content_name">Thái Văn Thiện</p>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
        </div>
        <div class="view-body_file">
          <p class="view-body_file_name">File</p>
          <div class="view-body_file_main">
            <div
              *ngFor="let file of fileUpload"
              class="view-body_file_main_content"
            >
              <div class="flex justify-between px-5 w-full">
                <p class="view-body_file_main_content_name">
                  {{ file.fileName }}
                </p>
                <button
                  (click)="getId(file.id)"
                  id="dropdownDefaultButton"
                  data-dropdown-toggle="dropdown"
                >
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
              </div>
              <img
                src="../../assets/img-excel.png"
                alt=""
                class="view-body_file_main_content_img"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        id="dropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownDefaultButton"
        >
          <li>
            <a
              routerLink="/view/{{ fileDeleteId }}"
              routerLinkActive="active"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >View</a
            >
          </li>
          <li (click)="deleteFileById()">
            <button
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
