<!-- <div *ngIf="data.length > 0 && typeFile === 'xlsx'">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of data[0] | objectToArray">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td
          class="border border-black px-3 py-1"
          *ngFor="let column of row | keyvalue"
        >
          {{ column.value }}
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div
  class="w-full h-screen"
  *ngIf="(fileUpload && typeFile === 'jpg') || typeFile === 'png'"
>
  <img src="{{ fileView }}" alt="" />
</div>
<div
  class="w-5/6 h-screen flex justify-center"
  *ngIf="fileUpload && typeFile === 'pdf'"
>
  <pdf-viewer
    [src]="fileView"
    [render-text]="true"
    [original-size]="false"
    style="width: 100%; height: 90%"
  ></pdf-viewer>
</div>
